.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  justify-content: center; /* gutter size offset */
  width: 100%;
  margin-top: 40px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
}

.my-masonry-grid_column:first-child {
  align-items: flex-end;
  padding-right: 30px;
}

.my-masonry-grid_column:last-child {
  align-items: flex-start;
  padding-left: 30px;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}
